# macOS
.DS_Store
.AppleDouble
.LSOverride

# Datos brutos de GROMACS (demasiado grandes para GitHub)
raw_data.zip

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# Archivos de backup de GROMACS
\#*\#
